version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    versioning-strategy: increase
    open-pull-requests-limit: 99
    groups:
      dependencies:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
  - package-ecosystem: npm
    directory: '/website'
    schedule:
      interval: monthly
    versioning-strategy: increase
    open-pull-requests-limit: 99
    groups:
      dependencies:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
  - package-ecosystem: npm
    directory: '/website/plugins/docusaurus-plugin-hotjar'
    schedule:
      interval: monthly
    versioning-strategy: increase
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
