# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# npm
package-lock.json
npm-debug.log*
.nyc_output

# Ignore formatting of ***x*** to **_x_**
.github/PULL_REQUEST_TEMPLATE.md

/website/playground
/website/.docusaurus
/website/plugins
/website/static

/test/**/*.html
/test/**/*.xml
