# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# npm
package-lock.json
npm-debug.log*
.nyc_output
test/html
