language: node_js
cache:
  directories:
    - node_modules
    - ~/.npm
notifications:
  email:
    recipients:
      - thedaviddias@gmail.com
node_js:
  - '10'
  - '9'
  - '8'
  - '6'
install:
  - npm install
  - npm install -g codecov
script:
    - "grunt"
    - istanbul cover ./node_modules/mocha/bin/_mocha --reporter test -- -R spec
    - codecov
branches:
  only:
    - master
    - develop
    - /^greenkeeper/.*$/
  except:
    - /^v\d+\.\d+\.\d+$/
