[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests"
    Permissions-Policy = "camera=(), microphone=(), midi=()"
    Referrer-Policy = "no-referrer-when-downgrade"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "0"

[[headers]]
  for = "/*.ico"
  [headers.values]
    Cache-Control = "public, s-max-age=1604800, immutable"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, s-max-age=1604800, immutable"

[[headers]]
  for = "/*.webp"
  [headers.values]
    Cache-Control = "public, s-max-age=1604800, immutable"

[[redirects]]
  from = "/docs/user-guide/list-rules"
  to = "/rules/"
  status = 301
  force = true

[[redirects]]
  from = "/docs/user-guide/usage/cli"
  to = "/usage/cli/"
  status = 301
  force = true

[[redirects]]
  from = "/docs/user-guide/"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/docs/user-guide/getting-started"
  to = "/getting-started/"
  status = 301
  force = true

[[redirects]]
  from = "/docs/user-guide/integrations/task-runners"
  to = "/integrations/task-runners/"
  status = 301
  force = true
