:root {
  --sl-font: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
}

@media (min-width: 50em) {
  :root {
    --sl-text-h1: var(--sl-text-4xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
  }
}

@view-transition {
  navigation: auto;
}

main footer .meta p {
  opacity: 0.75;
}

main h2 em {
  font-size: 0.6em;
  margin-left: 0.5em;
  opacity: 0.4;
}

.content-panel .sl-container .hero img {
  background-color: #ef503f;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.mt-0 {
  margin-top: 0 !important;
}

.sl-markdown-content a[href^="https://"]::after,
.sidebar-content a[href^="https://"]::after
{
  content: '';
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

[data-theme="dark"] .sl-markdown-content a[href^="https://"]::after,
[data-theme="dark"] .sidebar-content a[href^="https://"]::after
{
  filter: invert(1);
}

.sl-link-card a[href^="https://"]::after
{
  display: none;
}

.tablist-wrapper {
  overflow-y: hidden;
}

.float-start {
  float: left !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.sl-markdown-content h3 {
  font-size: 1rem;
  font-weight: 500;
}

.sl-heading-wrapper.level-h3 a {
  display: none;
}

h3[id^='the-following-pattern']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  background-image: url('/img/no.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

h3[id^='the-following-pattern-is-not']::before,
h3[id^='the-following-patterns-are-not']::before {
  background-image: url('/img/yes.svg');
  background-size: 140%;
}

.top-level li a span.sl-badge {
  opacity: 0.5;
}

img[src='/img/htmlhint-vscode-extension.png'] {
  background-color: #000;
}

.level-h3:has(h3[id^='the-following-patterns-are-not']) ~ .expressive-code pre {
  border-left: 4px solid green !important;
}

.level-h3:has(h3[id^='the-following-pattern-is-considered'])
  ~ .expressive-code
  pre,
.level-h3:has(h3[id^='the-following-patterns-are-considered'])
  ~ .expressive-code
  pre {
  border-left: 4px solid red !important;
}
