<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="4.3">
    <file name="{{path}}">
        <error line="8" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="8" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="8" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="9" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="9" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="9" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="10" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="10" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="10" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="11" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="11" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="11" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="12" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="12" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="12" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="13" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="13" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="13" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="14" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="14" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="14" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="15" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="15" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="15" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="16" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="16" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="16" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="17" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="17" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="17" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="18" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="18" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="18" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="19" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="19" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="19" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="20" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="20" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="20" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="21" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="21" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="21" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="22" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="22" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="22" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="23" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="23" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="23" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="24" column="7" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="24" column="14" severity="error" message="The value of attribute [ bad ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="24" column="14" severity="error" message="Duplicate of attribute name [ bad ] was found." source="htmlhint.attr-no-duplication"/>
        <error line="25" column="22" severity="error" message="Tag must be paired, no start tag: [ &lt;/input&gt; ]" source="htmlhint.tag-pair"/>
        <error line="26" column="3" severity="error" message="Special characters must be escaped : [ &lt; ]." source="htmlhint.spec-char-escape"/>
        <error line="26" column="18" severity="error" message="Special characters must be escaped : [ &gt; ]." source="htmlhint.spec-char-escape"/>
        <error line="28" column="11" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="29" column="9" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="30" column="7" severity="error" message="Tag must be paired, no start tag: [ &lt;/hello&gt; ]" source="htmlhint.tag-pair"/>
        <error line="31" column="5" severity="error" message="Tag must be paired, no start tag: [ &lt;/test&gt; ]" source="htmlhint.tag-pair"/>
        <error line="32" column="3" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="38" column="19" severity="error" message="The value of attribute [ class ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="38" column="28" severity="error" message="The value of attribute [ what ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="38" column="36" severity="error" message="The value of attribute [ something ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="44" column="3" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="50" column="19" severity="error" message="The value of attribute [ class ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="50" column="28" severity="error" message="The value of attribute [ what ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="50" column="36" severity="error" message="The value of attribute [ something ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="56" column="3" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="62" column="19" severity="error" message="The value of attribute [ class ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="62" column="28" severity="error" message="The value of attribute [ what ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="62" column="36" severity="error" message="The value of attribute [ something ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="68" column="3" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="74" column="19" severity="error" message="The value of attribute [ class ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="74" column="28" severity="error" message="The value of attribute [ what ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="74" column="36" severity="error" message="The value of attribute [ something ] must be in double quotes." source="htmlhint.attr-value-double-quotes"/>
        <error line="80" column="3" severity="error" message="Tag must be paired, no start tag: [ &lt;/div&gt; ]" source="htmlhint.tag-pair"/>
        <error line="81" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="82" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="83" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="84" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="85" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="86" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="87" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="88" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="89" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="90" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="91" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="92" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="93" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="94" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="95" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="96" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
        <error line="97" column="1" severity="error" message="Tag must be paired, no start tag: [ &lt;/bad&gt; ]" source="htmlhint.tag-pair"/>
    </file>
</checkstyle>
