# Sync GitHub labels in the declarative way
name: Sync labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  configure-labels:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: micnncim/action-label-syncer@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          manifest: .github/labels.yml
