# Sync GitHub labels in the declarative way
---
name: Sync labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

permissions:
  contents: read

jobs:
  configure-labels:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          manifest: .github/labels.yml
